.container {
  font-family: "Google sans", sans-serif;
  display: flex;
  flex-direction: column;
  align-items: center;
  justify-content: center;
  height: 100vh;
  background: linear-gradient(135deg, #d0ee6f 0%, #c974b2 100%);
}

.title {
  font-size: 48px;
  color: #fff;
  margin-bottom: 30px;
}

.input {
  padding: 10px;
  font-size: 16px;
  width: 250px;
  outline: none;
  border: none;
  border-radius: 50px;
  margin-right: 10px;
}
  
.btn {
  padding: 10px 20px;
  font-size: 16px;
  background-color: #fff;
  color: #e28fbb;
  border: none;
  border-radius: 50px;
  cursor: pointer;
}

.weather-info {
  display: flex;
  flex-direction: column;
  align-items: center;
  background-color: rgba(255, 255, 255, 0.9);
  padding: 20px;
  border-radius: 10px;
  margin-top: 30px;
  color:rgba(127, 158, 202, 0.9)
}

.weather-info h2 {
  font-size: 36px;
  font-weight: 300;
  margin-bottom: 10px;
}

.weather-info p {
  font-size: 18px;
  font-weight: 300;
  margin-bottom: 10px;
}

.temp {
  font-size: 48px;
  font-weight: 300;
}

.error-message {
 margin-top: 20px;
}




